<div class="container">

    <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <header class="masthead">
            <img src="/img/profile.png" alt="Ruben Afonso">
          </header>

          <h1 class="text-center">Ruben Afonso</h1>

          <p class="text-justify">
          I'm a software engineer, currently working in finance industry.<br>
          My interests span from programmming and fintech to visualization. From this intersection 
          things like <a href="https://wordpress.org/plugins/wp-d3/">wp-d3</a> emerge.
          I try to be active online as much as I can, you can follow wat I'm working on nowadays from my blog posts, GitHub commits and tweets.<br>
          I'm always ready for a good coffe, a worthwile meetup or a good quote, as:</p>
          <p class="text-center" style="margin:1em 0em 4em 0em">
          <em>if all you have is a hammer, everything looks like a nail</em>
          </p>

          <div class="hero-buttons">
              <a href="https://linkedin.com"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i></button></a>
              <a href="https://twitter.com/{{ site.data.global.twitter }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i></button></a>
              <a href="https://github.com/{{ site.data.global.github }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i></button></a>
              <a href="https://{{ site.data.global.medium }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i></button></a>
              <a href="mailto: rbfrancos@gmail.com"><button class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-lg"></i></button></a>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
